<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damuzhi.travel"
    android:versionCode="1"
    android:versionName="1.1" >
    <supports-screens android:anyDensity="true" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>  
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> <!-- 在SDCard中创建与删除文件权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 往SDCard写入数据权限 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>  
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"/>		
    <uses-sdk android:minSdkVersion="7" />
    
    
   <application android:name="com.damuzhi.travel.activity.common.TravelApplication" android:icon="@drawable/dmzlogo" android:label="@string/app_name" 
        android:theme="@android:style/Theme.Light.NoTitleBar" android:debuggable="true">
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        
        
        <activity android:label="@string/app_name" android:name=".activity.entry.WelcomeActivity"  android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.entry.IndexActivity"  android:screenOrientation="portrait" android:launchMode="singleTask"  >
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        <activity android:name=".activity.entry.Main" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.more.MoreActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.more.OpenCityActivity"  android:screenOrientation="portrait" android:launchMode="singleTask"/>       
        <activity android:name=".activity.overview.TravelGuidesActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>          
        <activity android:name=".activity.overview.TravelGuidesDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>  
        <activity android:name=".activity.overview.TravelRoutesActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>    
        <activity android:name=".activity.overview.TravelRoutesDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>         
        <activity android:name=".activity.common.NearbyPlaceMap" android:screenOrientation="portrait" android:launchMode="standard"/>
        <activity android:name=".activity.common.TravelActivity"  android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.place.CommonSpotActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>           
        <activity android:name=".activity.place.CommonHotelActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>            
        <activity android:name=".activity.place.CommonRestaurantActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>           
        <activity android:name=".activity.place.CommonShoppingActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>           
        <activity android:name=".activity.place.CommonEntertainmentActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>           
        <activity android:name=".activity.place.CommonPlaceDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/>           
        <activity android:name=".activity.place.CommonHotelDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/>           
        <activity android:name=".activity.place.CommonSpotDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/>           
        <activity android:name=".activity.place.CommonRestaurantDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/>           
        <activity android:name=".activity.place.CommonShoppingDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/>           
        <activity android:name=".activity.place.CommonEntertainmentDetailActivity" android:screenOrientation="portrait" android:launchMode="standard"/> 
        <activity android:name=".activity.place.CommonNearbyPlaceActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>       
        <activity android:name=".activity.common.HelpActiviy" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.common.PlaceGoogleMap" android:screenOrientation="portrait" android:launchMode="standard"/> 
        <activity android:name=".activity.overview.CommonOverViewActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>     
        <activity android:name=".activity.overview.CommonTravelPreprationActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>  
        <activity android:name=".activity.overview.CommonTravelUtilityActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.overview.CommonTravelTransportationActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.overview.CommonCtiyBaseActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.more.BrowseHistoryActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>     
        <activity android:name=".activity.more.FeedBackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>     
        <activity android:name=".activity.more.RecommendedAppActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>  
        <activity android:name=".activity.favorite.FavoriteActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.touristRoute.CommonLocalTrips" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.touristRoute.CommonLocalTripsDetail" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.touristRoute.CommonBookingRoute" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.touristRoute.CommonBookingConfirm" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.touristRoute.CommonTouristRouteOrderList" android:screenOrientation="portrait" android:launchMode="singleTask"/> 
        <activity android:name=".activity.more.LoginActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.more.RegisterActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name=".activity.more.RegisterVerificationActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.damuzhi.travel.activity.common.calendar.CalendarActivity" />
        
                
        <activity android:name=".activity.share.Share2Weibo" android:screenOrientation="portrait" android:launchMode="singleTask">
          		<intent-filter>
                	<data android:scheme="weibo4andriod" android:host="OAuthActivity" />
            	</intent-filter>
         </activity>  
        <activity android:theme="@style/ContentOverlay" android:launchMode="singleTask" 
		          android:configChanges="keyboardHidden|orientation"                           
				  android:windowSoftInputMode="adjustPan|stateAlwaysVisible" 
				  android:name="com.weibo.net.ShareActivity">
		</activity>
		<activity android:name=".activity.common.qweibo.MyWebView" android:launchMode="singleTask">
        </activity>
        <meta-data  android:name="YOUMI_CHANNEL"     android:value="10000" />
		
          <!--  注册服务 -->
         <service android:name=".download.DownloadService"/>
         <service android:name="com.baidu.location.f" android:enabled="true"
			android:process=":remote" android:permission="android.permission.BAIDU_LOCATION_SERVICE">
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.3"></action>
			</intent-filter>
		</service>
        
        <!-- Umeng_key -->
        <meta-data android:value="4fe182a95270156dc4000074" android:name="UMENG_APPKEY"></meta-data>
    </application>
</manifest>