<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damuzhi.travel"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="7" />
   <application
       android:name=".activity.common.TravelApplication" android:icon="@drawable/dmzlogo" android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar" android:debuggable="true">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:label="@string/app_name" android:name=".activity.entry.WelcomeActivity"  android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.entry.IndexActivity"  android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.more.MoreActivity" android:screenOrientation="portrait">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.more.OpenCityDataActivity"  android:screenOrientation="portrait">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.SceneryActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
            <intent-filter >
                <action android:name="damuzhi.activity.place.SceneryActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
         <activity android:name=".activity.place.HotelActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.place.HotelActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
        <activity android:name=".activity.place.RestaurantActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.place.RestaurantActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.ShoppingActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.place.ShoppingActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.EntertainmentActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.place.EntertainmentActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.NearbyActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.place.NearbyActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name=".activity.overview.OverviewActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.overview.OverviewActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.overview.TravelTipsActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.overview.TravelTipsActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.overview.TravelTipsDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="damuzhi.activity.overview.TravelTipsDetailActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.SceneryDetailActivity" android:screenOrientation="portrait" >            
        </activity> 
         <activity android:name=".activity.place.HotelDetailActivity" android:screenOrientation="portrait" >            
        </activity> 
         <activity android:name=".activity.place.RestaurantDetailActivity" android:screenOrientation="portrait" >            
        </activity> 
        <activity android:name=".activity.place.ShoppingDetailActivity" android:screenOrientation="portrait" >            
        </activity>
        <activity android:name=".activity.place.EntertainmentDetailActivity" android:screenOrientation="portrait" >            
        </activity>
        <activity android:name=".activity.common.PlaceMap" android:screenOrientation="portrait" android:launchMode="singleTop">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.common.CommendPlaceMap" android:screenOrientation="portrait" android:launchMode="singleTask">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.common.TravelActivity"  android:screenOrientation="portrait">
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.place.CommonSpotActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>  
        <activity android:name=".activity.place.CommonHotelActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity> 
        <activity android:name=".activity.place.CommonRestaurantActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity> 
        <activity android:name=".activity.place.CommonShoppingActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity> 
        <activity android:name=".activity.place.CommonEntertainmentActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
        <activity android:name=".activity.place.CommonPlaceDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
         <activity android:name=".activity.place.CommonHotelDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
         <activity android:name=".activity.place.CommonSpotDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
         <activity android:name=".activity.place.CommonRestaurantDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
        <activity android:name=".activity.place.CommonShoppingDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
         <activity android:name=".activity.place.CommonEntertainmentDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop">           
        </activity>
          <!--  注册服务 -->
        <service android:name="com.damuzhi.travel.download.DownLoadService"></service> 
        <service android:name=".service.MainService" >
            <intent-filter >
                <action android:name="damuzhi.travel.service.MainService"/>
            </intent-filter>
        </service> 
        <receiver android:name="com.damuzhi.travel.network.CheckNet">
            <intent-filter >
                <action android:name="com.damuzhi.travel.network.CheckNet"/>
            </intent-filter>
        </receiver>
    </application>
    
<uses-permission android:name="android.permission.INTERNET"/>  
<uses-permission android:name="android.permission.CALL_PHONE"/>
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> <!-- 在SDCard中创建与删除文件权限 -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 往SDCard写入数据权限 -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

</manifest>